#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: mine;
  /* text-align: center; */
}
@font-face {
  font-family: mine;
  src: url(Oswald.ttf);
}
.font-style-one{
  color: #800000;
  font-size: larger;
  font-weight: bold;
}

.font-y{
  color: #fff098;
}

.font-20{
  font-size: 20px;
}
.font-w{
  color: #fff;
}
.font-r{
  color: #800000;
}
.font-b{
  color: black;
}

.d-flex{
  display: flex;
}
.d-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 }
.d-flex-col{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.d-flex-col-gap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
 }
.center{
  text-align: center;
}
.tp-5{
  padding-top: 5%;
}
.tb-5{
  padding-bottom: 5%;
}
.p-20{
  padding: 20px;
}
.border-shadow:hover{
  border: 2px solid #fff;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 5)
}


.about-details{
  margin-left: 8rem;
  margin-right: 8rem;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.center-para{
  text-align: center;
}


.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.about-us-content {
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  list-style: none;
}

.about-us-content h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.about-us-content p {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Hover effect with box shadow */
.about-us-container :hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Transition for smoother hover effect */
.container {
transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect with transformation */
.container:hover .content {
transform: scale(1.1);
}

/* Animation */
@keyframes bounce {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-20px);
}
}

.container .content {
transition: transform 0.3s ease;
}

.container:hover .content {
animation: bounce 0.5s ease infinite;
}

.outer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  /* background-color: #f8f9fa; */
  background-color: #E1D9D1;

  text-align: center;
}

.outer-container h2 {
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
}






